{% extends 'components/page.html' %}

{% block page-container %}

    <div class="ui grid container main-container">

        <div class="four wide column mobile hidden tablet hidden">
            <div class="ui vertical menu large">
                <div class="item">
                    <div class="header">Products</div>
                    <div class="menu">
                        <a class="item">Enterprise</a>
                        <a class="item">Consumer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">CMS Solutions</div>
                    <div class="menu">
                        <a class="item active">Rails</a>
                        <a class="item">Python</a>
                        <a class="item">PHP</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Hosting</div>
                    <div class="menu">
                        <a class="item">Shared</a>
                        <a class="item">Dedicated</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Support</div>
                    <div class="menu">
                        <a class="item">E-mail Support</a>
                        <a class="item">FAQs</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="twelve wide computer sixteen wide tablet column">
            <div class="ui main segment">

                <!--
                <h1 class="ui header">Semantic UI Fixed Template</h1>
                <p>This is a basic fixed menu template using fixed size containers.</p>
                <p>A text container is used for the main container, which is useful for single column layouts</p>
                -->

                {% block main-container %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}