<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Bet Admin</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style type="text/css">
        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">

        <h2 class="ui grey image header">
            <img src="https://image.flaticon.com/icons/svg/1901/1901742.svg" class="image">
            <div class="content">
                Crie sua conta
            </div>
        </h2>

        <form class="ui large form" method="POST">
            {% csrf_token %}
            <div class="ui stacked segment">

                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            {% include 'component/field.html' with item=form.firstname icon='user' %}
                        </div>
                        <div class="field">
                            {% include 'component/field.html' with item=form.lastname  icon='user' %}
                        </div>
                    </div>
                </div>

                <div class="field">
                    {% include 'component/field.html' with item=form.username  icon='user' %}
                </div>

                <div class="field">
                    {% include 'component/field.html' with item=form.email icon='envelope' %}
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            {% include 'component/field.html' with item=form.password1 icon='lock' %}
                        </div>
                        <div class="field">
                            {% include 'component/field.html' with item=form.password2 icon='lock' %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="ui fluid large blue button">Cadastrar</button>
            </div>
        </form>

        <div class="ui message">
            Já possui cadastro? <a href="{% url 'accounts:login' %}">Entre</a>
        </div>

    </div>
</div>
</body>
</html>
