<div class="ui container">
    <div class="ui two column centered grid">
        <div class="four column centered row">
            <div class="column">
                <h2 class="ui center aligned icon header">
                    Conta<i class="circular dollar sign icon"></i>
                </h2>
            </div>
            <div class="column">
                <div class="ui list">
                    <div class="item">
                        <i class="user icon"></i>
                        <div class="content">
                            Favorecido:<span id="name"></span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="th icon"></i>
                        <div class="content">
                            Banco: <span id="bank_name"></span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            Agencia: <span id="agency"></span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="address card icon"></i>
                        <div class="content">
                            Conta: <span id="account_number"></span> - <span id="digit"></span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="keyboard icon"></i>
                        <div class="content">
                            Operação: <span id="op"></span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="file code outline icon"></i>
                        <div class="content">
                            Tipo: <span id="account_type"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>