{% extends 'components/page.html' %} {% block page-container %}
<div class="ui container segment">
    {% if payment_pendent %}
    <div class="ui warning message">
        <div class="header">
            Você possui um pagamento pendente
        </div>
        Pagamentos demoram até 72h para serem processados.
    </div>
    {% endif %}
    <form class="ui form" method="post">
        {% csrf_token %}
        <h4 class="ui dividing header">Plano de Assinatura</h4>
        {% if payment_pendent == False %}
        <div class="fields">
            <div class="eight wide field">
                {{form.plan.label}}{{ form.plan }}
            </div>
            <div class="eight wide field">
                {{form.adm_account.label}} {{ form.adm_account }}
            </div>
            <div class="eight wide field">
                {{ form.payment_method.label }} {{ form.payment_method }}
            </div>
        </div>
        <button type="submit" class="ui blue submit button">Assinar</button>
    </form>
    {% else %}
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Pagamento</th>
                <th>Vencimento</th>
                <th>Valor</th>
                <th>Situação</th>
                <th>
                    Arquivo
                </th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Age">{{ payment_pendent.payment_date |default_if_none:"-" }}</td>
                <td data-label="Age">{{ payment_pendent.expiration_date |default_if_none:"-" }}</td>
                <td data-label="Age">{{ payment_pendent.plan.price }}</td>
                {% if payment_pendent.is_paid %}
                <td data-label="Age">Pago</td>
                {% else %}
                <td data-label="Age">Pendente</td>
                {% endif %}
                <td data-label="Age">{{ '' }}</td>
                <td data-label="Age">{{ '' }}</td>
            </tr>
        </tbody>
    </table>
    <p>* Anexe o comprovante de depósito e aguarde o período necessário. Em caso de dúvidas entre em contato.
    </p>
    {% endif %}
    </form>
</div>
<script>
    function select_plan() {}

    function select_account(value) {
        console.log(JSON.stringify(value));
    }
</script>

{% endblock %}