{% extends 'components/page.html' %} {% block page-container %}
<div class="ui container segment">

    {% if payment_pendent %}

    <div class="ui warning message">
        <div class="header">
            Você possui um pagamento pendente
        </div>
        Pagamentos demoram até 72h para serem processados.
    </div>

    {% endif %} {% if not payment_pendent %}

    <form class="ui form" method="post">
        {% csrf_token %}
        <h4 class="ui dividing header">Plano de Assinatura</h4>
        <div class="fields">
            <div class="eight wide field">
                {{form.plan.label}}{{ form.plan }}
            </div>
            <div class="eight wide field">
                {{form.adm_account.label}} {{ form.adm_account }}
            </div>
            <div class="eight wide field">
                {{ form.payment_method.label }} {{ form.payment_method }}
            </div>
        </div>
        <button type="submit" class="ui blue submit button">Assinar</button>
    </form>

    {% else %}

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Pagamento</th>
                <th>Vencimento</th>
                <th>Valor</th>
                <th>Situação</th>
                <th>
                    Arquivo
                </th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Age">{{ payment_pendent.payment_date |default_if_none:"-" }}</td>
                <td data-label="Age">{{ payment_pendent.expiration_date |default_if_none:"-" }}</td>
                <td data-label="Age">{{ payment_pendent.plan.price }}</td>
                <td data-label="Age">
                    {% if payment_pendent.is_paid %}Pago {% else %} Pendente {% endif %}
                </td>
                <td data-label="Age">
                    {% if payment_pendent.file %}
                    <a href='{{payment_pendent.file.url}}' target='_blank' class="href">
                        <i class=" file alternate outline icon"></i>
                    </a>
                    {% endif %}
                </td>
                <td data-label="Age">

                </td>
            </tr>
        </tbody>
    </table>
    {% if not payment_pendent.file %}
    <form action="{% url 'payments:sign_plan_updated' pk=payment_pendent.id %}" class="ui form" method="POST" enctype="multipart/form-data">
        <div class="eight wide field">
            {% csrf_token %} {{form.file}}
        </div>
        <button type="submit" class="ui blue submit button">Atualizar</button>
    </form>
    {% endif %}
    <p>* Anexe o comprovante de depósito e aguarde o período necessário. Em caso de dúvidas entre em contato.
    </p>

    {% endif %}

</div>
<script>
    function select_plan() {}

    function select_account(value) {
        console.log(JSON.stringify(value));
    }
</script>

{% endblock %}