{% extends 'components/page.html' %} {% block page-container %}
<div class="ui container segment">
    <div class="ui info message">
        <div class="header">
            Consulta na base de conhecimento
        </div>
        As consultas realizadas são historicos de milhares de jogos.
    </div>
    <br>
    <form class="ui form" action="{% url 'queries:queries' %}" method="POST">
        {% csrf_token %}
        <div class="ui grid segment">
            <div class="fields column center aligned">
                <select id="select-plan" class="ui dropdown search" name="params">
                        <option value="">Parametro do jogo</option>
                        {% for param in params %}
                            <option value="{{ param.id }}">{{ param.name }}</option>
                        {% endfor %}
                    </select>
                <select id="select-plan" class="ui dropdown search" name="condition">
                        <option value="">Condição</option>
                        {% for param in  filters_params %}
                            <option value={{param.value}}> {{param.name}}</option>
                        {% endfor %}
                    </select>
                <div class="ui input">
                    <input placeholder="Valor do parametro" type="text" name="value">
                </div>
                <select id="select-plan" class="ui dropdown search" name="team">
                        <option value="">Selecione o Time</option>
                        {% for param in  teams_param %}
                            <option value={{param.value}}> {{param.name}}</option>
                        {% endfor %}
                    </select>
                <select id="select-plan" class="ui dropdown search" name="period">
                    <option value="">Periodo do Jogo</option>
                    {% for param in  periods_param %}
                        <option value={{param.value}}> {{param.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div class="ui two column centered grid">
            <div class="four column centered row">
                <button class="ui green submit button ">Adicionar</button>
                <button type="submit" class="ui blue submit button ">Buscar</button>
            </div>
        </div>
    </form>

    {% for query in query_result %}
    <div class="ui list">
        <div class="item">Jogo: {{query.match}}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}