{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Bet Admin</title>
    <link rel="stylesheet" href="{% static 'Semantic-UI-CSS-2.4.1/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/body-custom.css' %}">

    <script src=" {% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src=" {% static 'Semantic-UI-CSS-2.4.1/semantic.min.js' %}"></script>
    <script src=" {% static 'js/init-functions-semantic.js' %}"></script>
</head>

<body>
    {% block container %} {% endblock %}
</body>

</html>