{% extends 'components/base.html' %} {% block container %}

<div class="ui menu">
    <div class="ui container main-menu">
        <a href="{% url 'core:index' %}" class="header item">
            <img src="https://image.flaticon.com/icons/svg/1901/1901742.svg" class="image"> Bet Admin
        </a>

        <div class="right menu">

            <div class="ui simple dropdown item">
                <img src="https://image.flaticon.com/icons/svg/118/118781.svg" class="img-container"> {{ user }}
                <div class="menu">
                    <a class="item" href="{% url 'accounts:profile' %}">Perfil</a>
                    <a class="item" href="{% url 'accounts:logout' %}">Sair</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% if not user.profile.email_confirmed %}
<div class="ui warning message" style="margin-top: -14px !important">
    <div class="ui container center aligned">
        <i class="inbox icon"></i>
        <strong>
                    Por favor confirme seu email:
                    {{ user.email }}.
                </strong>
        <a href="{% url 'accounts:resend_email' %}">Resend email.</a>
    </div>
</div>
{% endif %} {% if success %}
<div class="ui container center">
    <div class="ui floating success message">
        <i class="close icon"></i>
        <div class="header">
            {{success.header}}
        </div>
        <p>{{success.content}}</p>
    </div>
</div>
{% endif %}

<script>
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
{% block page-container %} {% endblock page-container%} {% endblock container%}